*{
    margin: 0;
    padding: 0;
}

.admin{
    height: 60px;
    width: 100vw;
    background-color: #e21b70;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: center;
    color: white;
    position: relative;
    min-width: 516px;
}

.editAdmin{
    position: absolute;
    right: 50px;
    font-size: 30px;
    cursor: pointer;
    padding: 3px 5px;
    border-radius: 5px;
}

.editAdmin:hover{
    background-color: #94194e;
}

.firstNav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
    padding: 20px;
    min-height: 200px;
  width: 100%;
   top: 240px;
   background:black;
   background:rgba(87, 84, 84, 0.8);
   backdrop-filter: blur(5px);
   transition: top 0.3s ease-in-out, opacity 0.3s ease-in-out;
   opacity: 0;
   
 
}

.navCont{
 display: flex;
 flex-wrap: wrap;
}

.overlay{
    top: 270px;
    opacity: 1;

}

#secondNav{
    min-width: 516px;
}

#logout-btn{
    padding: 5px 10px;
    position: absolute;
    left: 0;
    top: 25px;
    
}

.adminName-wrap{
    width: 40%;
    margin: 0 auto;
    text-align: center;
}

#email-btn {
    margin-top: 5px;
    margin-right: 10px;
    padding: 5px;
} 

#email-btn button{
    margin-top: 5px;
}
.btn{
background-color: #e21b70;
color: white;
font-weight: bold;

}
.btn:hover{
    border: 2px solid #e21b70;
    padding: 5px 10px;
    
}


#container-inp{
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.container #add-item{
    width: 300px;
    height: 40px;
    border-radius: 15px;
    padding: 20px;
    border: 2px solid #e21b70;
    text-align: center;
}

#categories{
    text-align: center;
    padding-block: 5px;
    background-color: #e21b70;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 7px;
}

#modal_categories{
    text-align: center;
    padding-block: 5px;
    background-color: #e21b70;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 7px;
}

.addBtn{
    text-align: center;
    padding:5px 25px ;
    background-color: #e21b70;
    color: white;
    font-weight: bold;
    border-radius: 7px;
}

.addBtn:hover{
    border: 2px solid #e21b70;
    padding:4px 24px ;

}

#admin-inp{
    width: 200px;
    height: 40px;
    border-radius: 15px;
    padding: 20px;
    border: 2px solid #e21b70;
    text-align: center;
}

#price{
    width: 90px;
    height: 40px;
    border-radius: 15px;
    padding: 20px;
    border: 2px solid #e21b70;
    text-align: center;
}

input[type="file"]{
    width: 100px;
    margin-inline: 35px;
}

.inp-wrap{
    box-shadow: 0px 10px 15px rgba(0,0,0,0.2);
}

#menu_heading{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#image{
    width: 100px;
}

.table{
    min-width: 516px;
}

@media (max-width:600px) {
    .navCont{
        flex-direction: column;
    }
}